<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Rate Ice Cream application demo project">
    <meta name="author" content="j-sce">
    <title>Rate Ice Cream</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
</head>
<body class="w3-light-grey">

    <h3>Application menu:</h3>

    <table class="w3-table w3-striped w3-white">
        <tr>
            <td><i class="fa fa-plus w3-text-grey w3-large"></i></td>
            <td><a href="/addIceCream">Add ice cream to the list</a></td>
        </tr>
        <tr>
            <td><i class="fa fa-times w3-text-grey w3-large"></i></td>
            <td><a href="/removeIceCream">Remove ice cream from the list</a></td>
        </tr>
        <tr>
            <td><i class="fa fa-list w3-text-grey w3-large"></i></td>
            <td><a href="/getAllIceCreams">Show all ice creams in the list</a></td>
        </tr>
        <tr>
            <td><i class="fa fa-search w3-text-grey w3-large"></i></td>
            <td><a href="/searchIceCream">Search ice creams in the list</a></td>
        </tr>
        <tr>
            <td><i class="fa fa-bar-chart w3-text-grey w3-large"></i></td>
            <td><a href="/addIceCreamRating">Add ice cream rating</a></td>
        </tr>
        <tr>
            <td><i class="fa fa-star-half-o w3-text-grey w3-large"></i></td>
            <td><a href="/getAverageIceCreamRating">Get Average Ice Cream Rating</a></td>
        </tr>
        <tr>
            <td><i class="fa fa-suitcase w3-text-grey w3-large"></i></td>
            <td><a href="/addProducer">Add new producer</a></td>
        </tr>
        <tr>
            <td><i class="fa fa-user w3-text-grey w3-large"></i></td>
            <td><a href="/registerUser">Register new user</a></td>
        </tr>
    </table>

</body>
</html>