<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Rate Ice Cream application demo project">
    <meta name="author" content="j-sce">
    <title>Rate Ice Cream</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
</head>
<body class="w3-light-grey">

<h3>Remove Ice Cream from the list</h3>

<table class="w3-table w3-striped w3-white">
    <tr>
        <td>Ice Cream ID:</td>
    </tr>

    <tr>
        <form action="/removeIceCream" th:object="${request}" method="post">
            <td><input type="number" th:field="${request.iceCreamIdToRemove}"/></td>
            <td>
                <input type="submit" value="Remove"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td><i class="fa fa-spinner fa-spin w3-text-grey w3-large"></i></td>
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</td>

<form action="/" method="get">
    <input class="w3-button w3-dark-grey" type="submit" value="Go to main page"  name="Submit" />
</form>

</body>
</html>